@import 'libs/bootstrap-reboot.min';

@import 'base/mixins';
@import 'base/variables';
@import 'base/animations';
* {
    font-family: 'Roboto', sans-serif;
}
.container {
    @include sm {
        min-width: 450px;
    }
    @include md {
        margin: 0 30px;
    }
    @include lg {
        max-width: 1200px;
        margin: 0 auto;
    }
}
@import 'blocks/heaeder';

.section_header {
    font-weight: 900;
    margin: 74px 0;
    border-bottom: 4px solid black;
}

@import 'blocks/about';
@import 'blocks/portfolio';
@import 'blocks/blog';
@import 'blocks/contact';
