.contact{
    height: 400px;
    background-color: $main-color;
    h1 {
        color: #ffffff;
        border-bottom: 3px solid #ffffff;
    }
    &_btn {
        margin-bottom: 75px;
        font-size: 30px;
        font-weight: 900;
        border-radius: 100px;
        span{
            color: $second-color;
        }
    }
}
