.header {
    width: 100%;
    height: 800px;
    background: url(../../img/background.png)center center/cover no-repeat;

}

.menu {  
    margin-top: 28px;
    padding-left: 60px;
    &_item{
        display: inline;    
    }
    &_link{
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 25px;
        
    }
    &_link:hover {
        text-decoration: none;
        color: $second-color;
    }
    &_button {
        // font-size: 20px;
        padding: 5px 0;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 100px;
    }
}

.header_text{
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
    h1{
        font-weight: 900;
        font-size: 72px;
        line-height: 84px;
        .iam {
            color: black;
        }
        .wd {
            font-size: 96px;
        }
    }
    h4{
        font-weight: 900;
        font-size: 48px;
    }
    h2 {
        font-weight: 900;
        font-size: 64px;
        span {
            font-size: 40px;
        }
    }
}

.button {
    margin-top: 120px;
    padding: 10px 15px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    img{
        margin-left: 30px;
        margin-bottom: 5px;
    }
}

.button:hover {
    text-decoration: none;
    color: #FFFFFF;
}
