.portfolio {
    background: $bg-color;
    &_menu {
        margin-bottom: 56px;
        &_button{
            background: $second-color;
            color: #ffffff;
            width: 100%;
        }
        &_button:hover {
            color:#ffffff;
            bottom: 10px;
        }
    }
}

@import './gallery'
